@model GreenZones.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.display_name </h1>
    <hr />
    <div class="container">
  <div class="row">
    <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Shot Percentage</h2>
                        <h4>25%</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col">
                <div class="card" ">
                    <div class="card-body">
                        <h2 class="card-title">Shots Made All Time</h2>
                        <h4>0</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Longest Streak</h2>
                        <h4>0</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </div>
                </div>
    </div>
  </div>
</div>
</div>
